body
{
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	background-color: steelblue;
	margin: auto;
}


h1
{
    text-align: center;
    color:white ;
}


.header
{
   height: 60px;
   display: flex; 
   justify-content: space-around ;
   background-color: white;
   flex-wrap: wrap;
}

#np
{ 
   color:steelblue;
   margin-right:  auto;
   margin-top: 2.5vh;
   font-weight:bold;
}

.main
{
	display: flex; 
	justify-content: space-around ;
	flex-wrap: wrap;
	align-items: center;
	flex-grow: 0;
	height: 600px;
	border-radius: 20px; 
	border-color:  red ;
}


#b1,#b2
{
	color:white;
	float: right;
    margin: auto;
	border-radius: 20px ;
	border-color: white;
	background-color: steelblue;
	margin-top: 2.5vh;
	font-weight:bold;
}

#btbody
{

	color:steelblue;
    margin: auto;
	border-radius: 20px ;
	border-color: white;
	background-color: white;
	font-weight:bold;
}


p
{

   width : 200px;
}

h3
{
  float: top;
}
