body {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	color: white;
	background-color:#ffa259;
}


h1{
    color: white; 
    text-align: center;
   
}

#dec{
	float: right;
	border-radius: 10px;
	background-color: #ffa259;
	
}
h3{ 
	color: white;
	
}
